<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    <bean id="u" class="com.bjsxt.dao.impl.UserDAOImpl">
        <property name="sets">
            <set>
                <value>1</value>
                <value>2</value>
            </set>
        </property>
    </bean>
    <bean id="userService" class="com.bjsxt.service.UserService" scope="prototype">
        <property name="userDAO" ref="u"/>
    </bean>
    <bean id="greetingAdvice" class="com.baobaotao.advice.GreetingBeforeAdvice"/>
    <bean id="target" class="com.baobaotao.advice.NaiveWaiter"/>
    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="com.baobaotao.advice.Waiter"/>
        <property name="interceptorNames" value="greetingAdvice"/>
        <property name="target" ref="target"/>
    </bean>
    <aop:aspectj-autoproxy/>
</beans>